/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

#apppage .view {
  background-image: url("./components/images/img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

#apppage h6 {
  line-height: 1.7;
}

#users {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse; 
}

input {
  width: 100%;
  padding: 2px 2px;
  margin: 2px 0;  
}

#table_with_users {
  margin-left:auto; 
  margin-right:auto;
}

#users td, #users th {
  border: 1px solid #ddd;
  padding: 8px 1px 8px;
}
#users td {
  text-align: center;
}

.column-gender, 
.column-id {
  width: 25px;
}

  .column-classRoom {
    width: 52px;
  }

#users tr:nth-child(even){background-color: #f2f2f2;}

#users tr:hover {background-color: #ddd;}

#users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(160, 201, 240);
  color: white;
  height: 70px;
}

@media only screen and (max-width: 400px) {
  #apppage .animated img {
    max-height: 50vh;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }
}
@media only screen and (max-width: 767px) {
  #apppage .animated img {
    max-height: 35vh;
    transform: translateX(-50%);
    left: 50%;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  #apppage .animated img {
    max-height: 50vh;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
  }
}
@media (max-width: 1000px) and (orientation: landscape) {
  #apppage .view {
    min-height: 150vh;
  }
}

.teacher-report-table {
    height: 70vh;
    overflow-y: auto;
    background-color: #EBEBEB !important;
    color: #000000 !important;
}

.spinner-border {
  display: table;
    margin: 0 auto;
}

.table-container {   
  overflow-y: auto;
  max-height: 60vh !important;
}

.margin-bottom {
  margin-bottom: 10px;
}
